# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ChromaDB local storage
chromadb/

# Environment variables
.env

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# gcs api
agroai-voice-key.json
node_modules
