# Core Python Libraries
numpy
pandas

# FastAPI Backend Framework
fastapi
uvicorn

# Vector DB / Retrieval
chromadb

# Embeddings & NLP
sentence-transformers
openai

# Audio / Speech to Text
SpeechRecognition

# Translation
googletrans==4.0.0-rc1

# Environment Variables
python-dotenv

# Cross-Origin Requests Handling
fastapi[all]
